@import "colors";

body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: $STANDOUT_COLOR; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid $BORDER_COLOR;
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid $BORDER_COLOR; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: $NAV_COLOR; }
.flash          { background: $FLASH_BG; padding: 0.5em;
                  border: 1px solid $FLASH_BORDER; }
.error          { background: $ERROR_BG; padding: 0.5em; }
