<!doctype html>
<html>
    <head>
        <title>Flaskr</title>
        {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}
    </head>

    <body>
        <div class=page>
          <h1>Flaskr</h1>
          <div class=metanav>
          {% if not current_user.is_authenticated() %}
            <a href="{{ url_for('login') }}">log in</a>
          {% else %}
            <a href="{{ url_for('logout') }}">log out</a>
          {% endif %}
          </div>
          {% for message in get_flashed_messages() %}
            <div class=flash>{{ message }}</div>
          {% endfor %}
          {% block body %}{% endblock %}
        </div>
    </body>
</html>
